<div class="col-md-4">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab">Favorites</a></li>
                <li><a href="#tab2default" data-toggle="tab">Categories</a></li>
                <li><a href="#tab3default" data-toggle="tab">Radius</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                
                <% if customer_signed_in? %>
                    <div class="tab-pane fade in active" id="tab1default">
                        <% current_customer.vendors.each do |vendor| %>
                            <a href="/vendors/<%= vendor.id %>"><%= vendor.username %></a><br>
                        <% end %>
                    </div>
                <% elsif vendor_signed_in? %>
                    <div class="tab-pane fade in active" id="tab1default">Please log in as a customer to view your favorite strEATspot vendors!</div>
                <% else %>
                    <div class="tab-pane fade in active" id="tab1default">Please log in to view your favorite strEATspot vendors!</div>
                <% end %>

                <div class="tab-pane fade" id="tab2default">
                    <% Foodcategory.all.each do |category| %>
                        <%= link_to "#{category.name}", foodcategories_show_path(category) %><br>
                    <% end %>
                </div>

                <div class="tab-pane fade" id="tab3default">
                    <a>0.5 miles</a><br>
                    <a>1.0 miles</a><br>
                    <a>1.5 miles</a><br>
                </div>
                
            </div>
        </div>
    </div>
</div>
