<div class="row" style="border:solid red 2px">
	<div class="col-sm-6" style="border:solid blue 2px">
	  <div class="row" id="location-toggle">
	  	<div class="col-sm-12">
			<% if vendor_signed_in? %>
			<p>Toggle to display location:</p>
				<% if current_vendor.latitude && current_vendor.longitude %>
					<label class="switch">
					  <input type="checkbox" checked>
					  <div class="slider round"></div>
					</label>
				<% else %>
					<label class="switch">
					  <input type="checkbox">
					  <div class="slider round"></div>
					</label>
				<% end %>
			<% end %>
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-12">
		<% if !vendor_signed_in? && !customer_signed_in? %>
			
				<p>Please log in to see your profile and favorites</p>
			
		<% elsif vendor_signed_in? %>
			<li><%= link_to "Edit your profile", edit_vendor_registration_path %></li>
			<p>Please log in to see your profile and favorites</p>
		<% end %>
		</div>
	  </div>
	
	</div><br>

	<div class="col-sm-6" style="border:solid yellow 2px">
		<div class="row">
			<div class="col-sm-12">
				<%= render(partial: "map") %>
			</div>
		</div><br>
		<div class="row">
			<div class="col-sm-12">
				<div><%= render 'filter' %></div>
			</div>
		</div>
	</div>
<div>