<div class="row">
	<div class="col-sm-6">
	  <div class="row" id="location-toggle">
	  	<div class="col-sm-12">
			<% if vendor_signed_in? %>
			<p>Toggle to display location:</p>
				<% if current_vendor.latitude && current_vendor.longitude %>
					<label class="switch">
					  <input type="checkbox" checked>
					  <div class="slider round"></div>
					</label>
				<% else %>
					<label class="switch">
					  <input type="checkbox">
					  <div class="slider round"></div>
					</label>
				<% end %>
			<% end %>
		</div>
	  </div>
	  <br><br>
	  <div class="row">
			<div class="col-sm-12">
				<div><%= render 'filter' %></div>
			</div>
		</div>
	  <div class="row">
	  	<br>
	  	<div class="col-sm-12">
		
			<% if vendor_signed_in? %>
				<%= link_to "Edit your profile", edit_vendor_registration_path, style:"padding-left: 15px" %>
			<% end %>
		</div>
	  </div>
	
	</div><br>

	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-12">
				<%= render(partial: "map") %>
			</div>
		</div><br>
		
	</div>
<div>