#mediaz {
  width:440px;
  float:right;
  padding-right:5%;
}

@media screen and (max-width: 450px) {
    body {
        width: 100%;
    }
    #mediaz {
      width: 100%;
      margin; auto;
      height: auto;
    }
    #vendor-avatar {
      width: 96%;
      height: auto;
    }
}
